body, html, ul, div {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    background: url('images/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1000px;
    font-family: sans-serif;
}

body.bg_ros {
    background: url('images/background_ros.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: auto 115%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Antonio, Helvetica, sans-serif;
    color: #FFF;
    font-weight: 500;
    line-height: 1;
}

ul {
    list-style: none;
    color: #000000;
    font-size: 20px;
    line-height: normal;
}

li {
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    border-bottom: 1px solid #d9daa8;
    list-style: none;
}

li.isMe {
    background: rgba(4, 0, 255, 0.3) !important;
}

li.moved {
    animation: 0.6s moved;
}

@keyframes moved {
    0% {
        border-top: 1px solid #d9daa8;
        border-bottom: 1px solid #d9daa8;
        background: #d3dacc;
        box-shadow: none;
    }
    30% {
        box-shadow: 0 0 7px 7px rgba(255, 76, 81, 1);
    }
    50% {
    }
    100% {
        border-top: rgba(255, 76, 81, 1);
        border-bottom: rgba(255, 76, 81, 1);
        background: rgba(255, 76, 81, 1);

        box-shadow: 0 0 7px 7px rgba(255, 76, 81, 1);
    }
}

p {
    padding-left: 10px;
}

button {
    cursor: pointer;
    border-radius: 7px;
    border: 2px solid #dddddd;
    background: #000000;
    color: #ffffff;
    font-size: 17px;
}

a {
    cursor: pointer;
    color: #ffffff;
}

button:hover {
    border: 2px solid #dd7d70;
    color: #dd7d70;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none !important;
}

.vg_level {
    background: #000;
    border-radius: 14px;
    padding: 1px;
    display: inline-block;
    width: 23px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

span.blue {
    color: #62cef4;
}

span.red {
    color: #f65b47;
}

#envStatus {
    position: absolute;
    z-index: 1;
    top: 150px;
    width: 40%;
    min-width: 240px;
    height: 490px;
    margin-left: 30%;
    background: url(images/cup.png) no-repeat no-repeat center 70px #000000;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    box-shadow: 0 0 50px 40px rgba(0, 0, 0, 1);
}

#envStatus p.close {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    cursor: pointer;
}

#envBet {
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 90%;
    min-width: 650px;
    height: 500px;
    padding-right: 250px;
    box-sizing: border-box;
    margin-left: auto;
    min-width: 650px;
    margin-right: auto;
}

#envBetWrap {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 650px;
    height: 500px;
    margin: auto;
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 0 50px 40px rgba(0, 0, 0, 1);
}

#envBetWrap .close {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 16px;
}

#envBet #betTitle {
    display: block;
    height: auto;
    width: 100%;
    padding-bottom: 15px;
}

#envBet #envBetContent {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
}

#envBetContent .betList {
    margin: 0;
    padding: 0;
    width: 250px;
    height: 400px;
    overflow-y: hidden;
}

#envBetContent .betList span {
    display: block;
    font-size: 15px;
    overflow: hidden;
}

#envBetContent .bet {
    cursor: pointer;
    margin: 0;
    margin-bottom: 20px !important;
    padding: 0;
    font-size: 14px;
    height: auto;
}

#envBetContent .bet img {
    display: inline-block;
    height: 25px;
    border-radius: 6px;
    vertical-align: middle;
}

#envBetContent #time {
    width: 150px;
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around; /* Safari */
    cursor: pointer;
    font-size: 14px;
}

#globalWrap {
    display: block;
    width: 98%;
    min-height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#globalWrap .content {
    padding-bottom: 90px;
}

#logo {
    top: 40px;
    left: 0;
    width: 150px;
    height: 150px;
    background-image: url('images/logo.png');
    background-size: 100%;
    margin-right: 400px;
    display: inline-block;
    cursor: pointer;
}

#logo span {
    color: #FFFFFF;
    position: relative;
    width: 300px;
    display: inline-block;
    padding-top: 50px;
    padding-left: 150px;
    font-size: 23px;
    font-weight: 600;
}

#ros_logo {
    width: 106px;
    height: 61px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background: url('images/logo_ros.png');
    background-size: contain;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
}

#vg_logo {
    width: 106px;
    height: 61px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background: url('images/logo_vg.png') no-repeat center center;
    background-size: contain;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
}

#banner {
    position: absolute;
    border: 1px solid black;
    top: 15px;
    right: 5px;
    width: 468px;
    height: 60px;
    background-color: rgba(206, 205, 211, 0.8);
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px 7px 0 0;
}

#footer div {
    display: inline-block;
    width: 16%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 35px;
    vertical-align: middle;
}

.online {
    width: 10px !important;
    height: 10px !important;
    background-color: #00FF00;
    display: inline-block;
    margin-left: 1px;
    margin-right: 3px !important;
    border-radius: 5px;
}

.online.offline {
    background-color: #FF0000;
}

.row {
    display: block;
    clear: both;
}

#mainBlock {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
}

#commandTable {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    vertical-align: middle;
    text-align: center;
    border-radius: 7px 0 0 7px;
    color: #ffffff;
}

#commandTable .wrap {
    margin-left: auto;
    margin-right: auto;
    padding-right: 250px;
}

#commandTable .tour {
    width: 31%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#commandTable .tour .match {
    margin: 23px;
    margin-left: 0;
    width: 100%;
    max-width: 200px;
    position: relative;
}

#commandTable .tour .match .inline {
    width: 100%;
    padding-left: 20px;
}

#commandTable .tour .match button.draft {
    position: absolute;
    display: inline-block;
    height: 50%;
    margin-top: 25%;
    font-size: 11px;
    padding: 2px;
}

#commandTable .tour .match .command {
    text-align: left;
    width: 100%;
    min-width: 140px;
    min-height: 30px;
    margin: 7px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 7px;
    font-size: 14px;
}

#commandTable .tour .match .command .commandName {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
}

#commandTable .tour .match .command .commandName .edit {
    color: rgba(255, 218, 214, 0.7);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#commandTable .tour .match .command .playerList {
    min-height: 30px;
    background-color: rgba(220, 220, 220, 0.4);
    border-radius: 0 0 7px 7px;
    padding-bottom: 3px;
}

#commandTable .tour .match .command .playerList li {
    color: #ffffff;
    border-top: 1px solid #d9daa8;
    border-bottom: none;
    font-size: 15px;
    background: none;
}

#commandTable .tour .match .command .playerList li .online {
    margin-left: 10px;
}

#commandTable .tour .match .command .commandName span {
    text-align: left;
    line-height: 30px;
    padding-left: 10px;
    display: inline-block;
}

#commandTable .tour .match .command button {
    display: inline-block;
    font-size: 11px;
}

#conList {
    border-radius: 0 7px 7px 0;
    position: relative;
    display: inline-block;
    width: 300px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

#conList ul {
    padding-left: 4px;
    overflow: scroll;
    overflow-x: hidden;
    height: 275px;
}

#setPlayer, #unsetPlayer {
    font-size: 15px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#statInfo {
    position: absolute;
    bottom: 0;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

fieldset {
    margin: 0;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 7px;
    border: none;
}

fieldset legend {
    background-color: rgba(255, 255, 255, 0.7);
}

#lastList {

}

#lastList li {
    display: inline-block;
    border: none;
}

#lastList li .remove {
    display: inline-block;
    padding-right: 3px;
}

#adminPanel {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly; /* Safari */
    margin: 20px auto;
}

.footerBlock {
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
}

#twitchPlayer {
    width: 90%;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    -webkit-justify-content: center; /* Safari */
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

.footerBlock fieldset {
    width: 100%;
}

#ros-table {
    display: block;
    width: 90%;
    margin: 5px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
    background-color: rgba(240, 240, 240, 0.6);
    padding: 5px;
    border-radius: 6px;
    color: #000000;
}

#ros-table h2 {
    cursor: pointer;
    color: #7f4346;
    margin-bottom: 6px;
}

#ros-table .scrollBox {
    height: 120px;
    overflow-y: scroll;
}

#ros-table p {
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 3px;
}

#dbd {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 2;
    min-width: 1000px;
}

#dbd #closeDBD {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}

#dbd .wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-bottom: 40px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
}

.block-action {
    vertical-align: top;
    display: inline-block;

}

.block-action.teamA .playerRole {
    position: absolute;
    width: 40px;
    background-image: none;
    height: 40px;
    border: 1px solid #ffffff;
    border-right: none;
    border-top: none;
    border-radius: 0px 0px 0px 7px;
    margin: 0;
    right: 0;
    padding: 3px;
}

.block-action.teamB .playerRole {
    position: absolute;
    width: 40px;
    background-image: none;
    height: 40px;
    border: 1px solid #ffffff;
    border-left: none;
    border-top: none;
    border-radius: 0px 0px 7px 0px;
    margin: 0;
    left: 0;
    padding: 3px;
}

.block-action .playerName {
    position: relative;
    top: 113px;
    margin-top: 0;
    margin: 0;
    padding: 0;
    padding-left: 4px;
    overflow: hidden;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.block-action .playerName li {
    font-size: 15px;
    color: #ffffff;
    border: none;
}

.block-action .playerName li div.online {
    margin-top: 0;
}

.block-action.teamA div.ban, .block-action.teamA div.pick {
    border: 1px solid #63D1F4;
}

.block-action.teamA div.ban.current, .block-action.teamA div.pick.current {
    box-shadow: 0 0 40px 10px rgba(99, 209, 244, 0.7);
}

.block-action.teamA div.active {
    background-color: rgba(99, 209, 244, 0.5);
}

.block-action.teamB div.ban, .block-action.teamB div.pick {
    border: 1px solid #FBA16C;
}

.block-action.teamB div.ban.current, .block-action.teamB div.pick.current {
    box-shadow: 0 0 40px 10px rgba(251, 161, 108, 0.7);
}

.block-action.teamB div.active {
    background-color: rgba(251, 161, 108, 0.5);
}

.block-action div.forTap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-image: url('images/glory.png');
    background-size: cover;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.block-action div.currentPlayer {
    background: transparent;
    background-size: cover;
}

.block-action .ban {
    width: 90px;
    height: 90px;
}

.block-action .pick {
    width: 140px;
    height: 140px;
    cursor: pointer;
}

#heroesIcons {
    display: inline-block;
    width: 60%;
    padding: 0;
    margin: 0;
    margin-top: 30px;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#heroesIcons div {
    display: inline-block;
    background-size: 100%;
    margin: auto;
    cursor: pointer;
    width: 130px;
    height: 130px;

    vertical-align: bottom;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#heroesIcons div:hover {
    opacity: 0.75;
}

#heroesIcons div.checked {
    animation: 0.6s wave;
    opacity: 0.3;
}

#heroesIcons div .likeSelected {
    margin-top: 5px;
    height: 90px;
    white-space: nowrap;
}

#heroesIcons div .likeSelected span {
    display: block;
    height: 30px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.6);
    font-size: 17px;
}

#heroesIcons div .likeSelected span img {
    height: 20px;
    border-radius: 6px;
}

#heroesIcons div .likeSelector {

    height: 35px;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around; /* Safari */
    cursor: pointer;
}

#heroesIcons div .likeSelector img {
    border-radius: 6px;
    height: 35px;
}

@keyframes wave {
    0% {
        box-shadow: none;
    }
    30% {
        box-shadow: 0 0 20px 20px rgba(255, 255, 255, 1);
    }
    50% {

    }
    100% {
        opacity: 0.3;
        box-shadow: 0 0 20px 20px rgba(255, 255, 255, 1);
    }
}

#roleSelect {
    display: none;

    width: 400px;
    height: 350px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 7px;

    z-index: 3;

    position: absolute;
    top: 40%;
    left: 50%;
    margin: -200px 0 0 -200px;
    padding: 15px;

    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

#roleSelect .role p, #roleSelect .build p {
    text-align: left;
    font-size: 20px;
}

#roleSelect .role .roleItems, #roleSelect .build .buildItems {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
}

#roleSelect .role .roleItems .roleItem div {
    margin-top: 4px;
    padding: 4px;
    border: 1px solid #ffffff;
    border-radius: 7px;
    cursor: pointer;
}

#roleSelect .build p {
    margin-top: 40px;
}

#roleSelect .build .buildItems .buildItem {
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 7px;
    font-weight: 800;
    cursor: pointer;
    font-size: 18px;
    line-height: 50px;
    width: 100px;
}

#dbd .weapons {
    color: #FF0000;
}

#roleSelect .buildItems div.weapons.current {
    box-shadow: 0 0 40px 10px rgba(255, 0, 0, 0.7);
}

#roleSelect .roleItems div.weapons.current, #dbd .block-action .playerRole.weapons {
    background-color: #FF0000;
}

#dbd .crystal {
    color: #30ccec;
}

#roleSelect .buildItems div.crystal.current {
    box-shadow: 0 0 40px 10px rgba(48, 204, 246, 0.7);
}

#roleSelect .roleItems div.crystal.current, #dbd .block-action .playerRole.crystal {
    background-color: #30ccec;
}

#dbd .support {
    color: #dfb442;
}

#roleSelect .buildItems div.support.current {
    box-shadow: 0 0 40px 10px rgba(223, 180, 66, 0.7);
}

#roleSelect .roleItems div.support.current, #dbd .block-action .playerRole.support {
    background-color: #dfb442;
}

#envChallenge {
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 90%;
    min-width: 650px;
    height: 700px;
    padding-right: 250px;
    box-sizing: border-box;
    margin-left: auto;
    min-width: 650px;
    margin-right: auto;
}

#envChallengeWrap {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 650px;
    height: 700px;
    margin: auto;
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 0 50px 40px rgba(0, 0, 0, 1);
}

#envChallengeWrap .close {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 16px;
}

#envChallenge #challengeTitle {
    display: block;
    height: auto;
    width: 100%;
    padding-bottom: 15px;
}

#envChallenge #envChallengeContent {
    height: 500px;
}

#envChallengeContent .challengeList {
    margin: 15px;
    text-align: left;
}

#envChallengeContent .challengeList span {
    padding: 4px;
}

#envChallengeContent #challengeWinner {
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-left: 30%;
}

#guide {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    -webkit-justify-content: center; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
}

#guide .hero {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
}

#guide .hero img.avatar {
    display: block;
    width: 140px;
    height: 140px;
}

#guideItemWrap {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}

#guideItem {
    position: absolute;
    top: 13%;
    padding: 10px;
    width: 950px;
    min-height: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 7px;
    right: 0;
    left: 0;
}

#guideItem #closeItem {
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 1px;
    position: absolute;
    margin-top: 20px;
    margin-left: 5px;
    padding: 0;
    right: 30px;
}

#guideItemName {
    color: #ffffff;
    color: #ffffff;
    text-align: center;
}

#guideItemName span {
    display: inline-block;
    vertical-align: top;
    font-size: 60px;
    margin-top: 80px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: .4em;
}

#guideItemName img {
    height: 250px;
}

#guideItemInfo {
    color: #ffffff;
}

#guideItemInfo #stats-wrapper {
    margin: 10px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

#guideItemInfo #stats-wrapper h4 {
    margin-top: 4px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

#guideItemInfo #stats-wrapper h6 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 7px;
}

#guideItemInfo #stats-wrapper .stat-hp h6 {
    color: #4eec8b;
}

#guideItemInfo #stats-wrapper .stat-ep h6 {
    color: #5bbcff;
}

#guideItemInfo #stats-wrapper .stat-attack h6 {
    color: #f48596;
}

#guideItemInfo #stats-wrapper .stat-armor h6 {
    color: #f6ee71;
}

#guideItemInfo #stats-wrapper .stat-damage h6 {
    color: #e19efb;
}

#guideItemInfo ul {
    list-style: inside;
}

#guideItemInfo li {
    overflow: hidden;
    white-space: normal;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    line-height: normal;
    cursor: default;
    border-bottom: none;
    list-style: inside;
}

#guideItemInfo .abilities-wrapper {
    margin: 10px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

#guideItemInfo .abilities-wrapper .ability {
    width: 25%;
    display: -webkit-flex; /* Safari */
    display: flex;
}

#guideItemInfo .abilities-wrapper .video-container {
    display: none;
}

#guideItemInfo .abilities-wrapper .ability .text {
    padding: 5px;
    margin: 5px;
    b1ackground-color: rgba(0, 0, 0, 0.9);
    background-color: rgba(206, 205, 211, 0.1);
    border-radius: 7px;
    font-size: 13px;
}

#guideItemInfo .abilities-wrapper .ability .header img {
    display: inline-block;
    border-radius: 7px;
    margin-top: 5px;
}

#guideItemInfo .abilities-wrapper .ability .header .expand {
    display: none;
}

#guideItemInfo .abilities-wrapper .ability .header .perk {
    display: inline-block;
    vertical-align: top;
    color: #eaa900;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 1px;
    position: absolute;
    margin-top: 70px;
    margin-left: 5px;
    padding: 0;
}

#guideItemInfo .abilities-wrapper .ability .header h5 {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 5px;
    width: 130px;
}

#guideItemInfo .abilities-wrapper .popup {
    display: none;
}

/*PROGRESS BAR */

.rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
    clip: rect(auto, auto, auto, auto);
}

.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
    position: absolute;
    border: 0.08em solid #307bbb;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.pie-fill, .c100.p51 .bar:after, .c100.p51 .fill, .c100.p52 .bar:after, .c100.p52 .fill, .c100.p53 .bar:after, .c100.p53 .fill, .c100.p54 .bar:after, .c100.p54 .fill, .c100.p55 .bar:after, .c100.p55 .fill, .c100.p56 .bar:after, .c100.p56 .fill, .c100.p57 .bar:after, .c100.p57 .fill, .c100.p58 .bar:after, .c100.p58 .fill, .c100.p59 .bar:after, .c100.p59 .fill, .c100.p60 .bar:after, .c100.p60 .fill, .c100.p61 .bar:after, .c100.p61 .fill, .c100.p62 .bar:after, .c100.p62 .fill, .c100.p63 .bar:after, .c100.p63 .fill, .c100.p64 .bar:after, .c100.p64 .fill, .c100.p65 .bar:after, .c100.p65 .fill, .c100.p66 .bar:after, .c100.p66 .fill, .c100.p67 .bar:after, .c100.p67 .fill, .c100.p68 .bar:after, .c100.p68 .fill, .c100.p69 .bar:after, .c100.p69 .fill, .c100.p70 .bar:after, .c100.p70 .fill, .c100.p71 .bar:after, .c100.p71 .fill, .c100.p72 .bar:after, .c100.p72 .fill, .c100.p73 .bar:after, .c100.p73 .fill, .c100.p74 .bar:after, .c100.p74 .fill, .c100.p75 .bar:after, .c100.p75 .fill, .c100.p76 .bar:after, .c100.p76 .fill, .c100.p77 .bar:after, .c100.p77 .fill, .c100.p78 .bar:after, .c100.p78 .fill, .c100.p79 .bar:after, .c100.p79 .fill, .c100.p80 .bar:after, .c100.p80 .fill, .c100.p81 .bar:after, .c100.p81 .fill, .c100.p82 .bar:after, .c100.p82 .fill, .c100.p83 .bar:after, .c100.p83 .fill, .c100.p84 .bar:after, .c100.p84 .fill, .c100.p85 .bar:after, .c100.p85 .fill, .c100.p86 .bar:after, .c100.p86 .fill, .c100.p87 .bar:after, .c100.p87 .fill, .c100.p88 .bar:after, .c100.p88 .fill, .c100.p89 .bar:after, .c100.p89 .fill, .c100.p90 .bar:after, .c100.p90 .fill, .c100.p91 .bar:after, .c100.p91 .fill, .c100.p92 .bar:after, .c100.p92 .fill, .c100.p93 .bar:after, .c100.p93 .fill, .c100.p94 .bar:after, .c100.p94 .fill, .c100.p95 .bar:after, .c100.p95 .fill, .c100.p96 .bar:after, .c100.p96 .fill, .c100.p97 .bar:after, .c100.p97 .fill, .c100.p98 .bar:after, .c100.p98 .fill, .c100.p99 .bar:after, .c100.p99 .fill, .c100.p100 .bar:after, .c100.p100 .fill {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100 {
    position: absolute !important;
    left: 30px;
    background: #000;
    font-size: 80px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 4px !important;
}

.c100 *, .c100 *:before, .c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.c100 div {
    margin: 0;
}

.c100 > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #cccccc;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background: transparent;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p1 .bar {
    -webkit-transform: rotate(3.6deg);
    -moz-transform: rotate(3.6deg);
    -ms-transform: rotate(3.6deg);
    -o-transform: rotate(3.6deg);
    transform: rotate(3.6deg);
}

.c100.p2 .bar {
    -webkit-transform: rotate(7.2deg);
    -moz-transform: rotate(7.2deg);
    -ms-transform: rotate(7.2deg);
    -o-transform: rotate(7.2deg);
    transform: rotate(7.2deg);
}

.c100.p3 .bar {
    -webkit-transform: rotate(10.8deg);
    -moz-transform: rotate(10.8deg);
    -ms-transform: rotate(10.8deg);
    -o-transform: rotate(10.8deg);
    transform: rotate(10.8deg);
}

.c100.p4 .bar {
    -webkit-transform: rotate(14.4deg);
    -moz-transform: rotate(14.4deg);
    -ms-transform: rotate(14.4deg);
    -o-transform: rotate(14.4deg);
    transform: rotate(14.4deg);
}

.c100.p5 .bar {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
}

.c100.p6 .bar {
    -webkit-transform: rotate(21.6deg);
    -moz-transform: rotate(21.6deg);
    -ms-transform: rotate(21.6deg);
    -o-transform: rotate(21.6deg);
    transform: rotate(21.6deg);
}

.c100.p7 .bar {
    -webkit-transform: rotate(25.2deg);
    -moz-transform: rotate(25.2deg);
    -ms-transform: rotate(25.2deg);
    -o-transform: rotate(25.2deg);
    transform: rotate(25.2deg);
}

.c100.p8 .bar {
    -webkit-transform: rotate(28.8deg);
    -moz-transform: rotate(28.8deg);
    -ms-transform: rotate(28.8deg);
    -o-transform: rotate(28.8deg);
    transform: rotate(28.8deg);
}

.c100.p9 .bar {
    -webkit-transform: rotate(32.4deg);
    -moz-transform: rotate(32.4deg);
    -ms-transform: rotate(32.4deg);
    -o-transform: rotate(32.4deg);
    transform: rotate(32.4deg);
}

.c100.p10 .bar {
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
}

.c100.p11 .bar {
    -webkit-transform: rotate(39.6deg);
    -moz-transform: rotate(39.6deg);
    -ms-transform: rotate(39.6deg);
    -o-transform: rotate(39.6deg);
    transform: rotate(39.6deg);
}

.c100.p12 .bar {
    -webkit-transform: rotate(43.2deg);
    -moz-transform: rotate(43.2deg);
    -ms-transform: rotate(43.2deg);
    -o-transform: rotate(43.2deg);
    transform: rotate(43.2deg);
}

.c100.p13 .bar {
    -webkit-transform: rotate(46.800000000000004deg);
    -moz-transform: rotate(46.800000000000004deg);
    -ms-transform: rotate(46.800000000000004deg);
    -o-transform: rotate(46.800000000000004deg);
    transform: rotate(46.800000000000004deg);
}

.c100.p14 .bar {
    -webkit-transform: rotate(50.4deg);
    -moz-transform: rotate(50.4deg);
    -ms-transform: rotate(50.4deg);
    -o-transform: rotate(50.4deg);
    transform: rotate(50.4deg);
}

.c100.p15 .bar {
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    transform: rotate(54deg);
}

.c100.p16 .bar {
    -webkit-transform: rotate(57.6deg);
    -moz-transform: rotate(57.6deg);
    -ms-transform: rotate(57.6deg);
    -o-transform: rotate(57.6deg);
    transform: rotate(57.6deg);
}

.c100.p17 .bar {
    -webkit-transform: rotate(61.2deg);
    -moz-transform: rotate(61.2deg);
    -ms-transform: rotate(61.2deg);
    -o-transform: rotate(61.2deg);
    transform: rotate(61.2deg);
}

.c100.p18 .bar {
    -webkit-transform: rotate(64.8deg);
    -moz-transform: rotate(64.8deg);
    -ms-transform: rotate(64.8deg);
    -o-transform: rotate(64.8deg);
    transform: rotate(64.8deg);
}

.c100.p19 .bar {
    -webkit-transform: rotate(68.4deg);
    -moz-transform: rotate(68.4deg);
    -ms-transform: rotate(68.4deg);
    -o-transform: rotate(68.4deg);
    transform: rotate(68.4deg);
}

.c100.p20 .bar {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg);
}

.c100.p21 .bar {
    -webkit-transform: rotate(75.60000000000001deg);
    -moz-transform: rotate(75.60000000000001deg);
    -ms-transform: rotate(75.60000000000001deg);
    -o-transform: rotate(75.60000000000001deg);
    transform: rotate(75.60000000000001deg);
}

.c100.p22 .bar {
    -webkit-transform: rotate(79.2deg);
    -moz-transform: rotate(79.2deg);
    -ms-transform: rotate(79.2deg);
    -o-transform: rotate(79.2deg);
    transform: rotate(79.2deg);
}

.c100.p23 .bar {
    -webkit-transform: rotate(82.8deg);
    -moz-transform: rotate(82.8deg);
    -ms-transform: rotate(82.8deg);
    -o-transform: rotate(82.8deg);
    transform: rotate(82.8deg);
}

.c100.p24 .bar {
    -webkit-transform: rotate(86.4deg);
    -moz-transform: rotate(86.4deg);
    -ms-transform: rotate(86.4deg);
    -o-transform: rotate(86.4deg);
    transform: rotate(86.4deg);
}

.c100.p25 .bar {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.c100.p26 .bar {
    -webkit-transform: rotate(93.60000000000001deg);
    -moz-transform: rotate(93.60000000000001deg);
    -ms-transform: rotate(93.60000000000001deg);
    -o-transform: rotate(93.60000000000001deg);
    transform: rotate(93.60000000000001deg);
}

.c100.p27 .bar {
    -webkit-transform: rotate(97.2deg);
    -moz-transform: rotate(97.2deg);
    -ms-transform: rotate(97.2deg);
    -o-transform: rotate(97.2deg);
    transform: rotate(97.2deg);
}

.c100.p28 .bar {
    -webkit-transform: rotate(100.8deg);
    -moz-transform: rotate(100.8deg);
    -ms-transform: rotate(100.8deg);
    -o-transform: rotate(100.8deg);
    transform: rotate(100.8deg);
}

.c100.p29 .bar {
    -webkit-transform: rotate(104.4deg);
    -moz-transform: rotate(104.4deg);
    -ms-transform: rotate(104.4deg);
    -o-transform: rotate(104.4deg);
    transform: rotate(104.4deg);
}

.c100.p30 .bar {
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    -o-transform: rotate(108deg);
    transform: rotate(108deg);
}

.c100.p31 .bar {
    -webkit-transform: rotate(111.60000000000001deg);
    -moz-transform: rotate(111.60000000000001deg);
    -ms-transform: rotate(111.60000000000001deg);
    -o-transform: rotate(111.60000000000001deg);
    transform: rotate(111.60000000000001deg);
}

.c100.p32 .bar {
    -webkit-transform: rotate(115.2deg);
    -moz-transform: rotate(115.2deg);
    -ms-transform: rotate(115.2deg);
    -o-transform: rotate(115.2deg);
    transform: rotate(115.2deg);
}

.c100.p33 .bar {
    -webkit-transform: rotate(118.8deg);
    -moz-transform: rotate(118.8deg);
    -ms-transform: rotate(118.8deg);
    -o-transform: rotate(118.8deg);
    transform: rotate(118.8deg);
}

.c100.p34 .bar {
    -webkit-transform: rotate(122.4deg);
    -moz-transform: rotate(122.4deg);
    -ms-transform: rotate(122.4deg);
    -o-transform: rotate(122.4deg);
    transform: rotate(122.4deg);
}

.c100.p35 .bar {
    -webkit-transform: rotate(126deg);
    -moz-transform: rotate(126deg);
    -ms-transform: rotate(126deg);
    -o-transform: rotate(126deg);
    transform: rotate(126deg);
}

.c100.p36 .bar {
    -webkit-transform: rotate(129.6deg);
    -moz-transform: rotate(129.6deg);
    -ms-transform: rotate(129.6deg);
    -o-transform: rotate(129.6deg);
    transform: rotate(129.6deg);
}

.c100.p37 .bar {
    -webkit-transform: rotate(133.20000000000002deg);
    -moz-transform: rotate(133.20000000000002deg);
    -ms-transform: rotate(133.20000000000002deg);
    -o-transform: rotate(133.20000000000002deg);
    transform: rotate(133.20000000000002deg);
}

.c100.p38 .bar {
    -webkit-transform: rotate(136.8deg);
    -moz-transform: rotate(136.8deg);
    -ms-transform: rotate(136.8deg);
    -o-transform: rotate(136.8deg);
    transform: rotate(136.8deg);
}

.c100.p39 .bar {
    -webkit-transform: rotate(140.4deg);
    -moz-transform: rotate(140.4deg);
    -ms-transform: rotate(140.4deg);
    -o-transform: rotate(140.4deg);
    transform: rotate(140.4deg);
}

.c100.p40 .bar {
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    -o-transform: rotate(144deg);
    transform: rotate(144deg);
}

.c100.p41 .bar {
    -webkit-transform: rotate(147.6deg);
    -moz-transform: rotate(147.6deg);
    -ms-transform: rotate(147.6deg);
    -o-transform: rotate(147.6deg);
    transform: rotate(147.6deg);
}

.c100.p42 .bar {
    -webkit-transform: rotate(151.20000000000002deg);
    -moz-transform: rotate(151.20000000000002deg);
    -ms-transform: rotate(151.20000000000002deg);
    -o-transform: rotate(151.20000000000002deg);
    transform: rotate(151.20000000000002deg);
}

.c100.p43 .bar {
    -webkit-transform: rotate(154.8deg);
    -moz-transform: rotate(154.8deg);
    -ms-transform: rotate(154.8deg);
    -o-transform: rotate(154.8deg);
    transform: rotate(154.8deg);
}

.c100.p44 .bar {
    -webkit-transform: rotate(158.4deg);
    -moz-transform: rotate(158.4deg);
    -ms-transform: rotate(158.4deg);
    -o-transform: rotate(158.4deg);
    transform: rotate(158.4deg);
}

.c100.p45 .bar {
    -webkit-transform: rotate(162deg);
    -moz-transform: rotate(162deg);
    -ms-transform: rotate(162deg);
    -o-transform: rotate(162deg);
    transform: rotate(162deg);
}

.c100.p46 .bar {
    -webkit-transform: rotate(165.6deg);
    -moz-transform: rotate(165.6deg);
    -ms-transform: rotate(165.6deg);
    -o-transform: rotate(165.6deg);
    transform: rotate(165.6deg);
}

.c100.p47 .bar {
    -webkit-transform: rotate(169.20000000000002deg);
    -moz-transform: rotate(169.20000000000002deg);
    -ms-transform: rotate(169.20000000000002deg);
    -o-transform: rotate(169.20000000000002deg);
    transform: rotate(169.20000000000002deg);
}

.c100.p48 .bar {
    -webkit-transform: rotate(172.8deg);
    -moz-transform: rotate(172.8deg);
    -ms-transform: rotate(172.8deg);
    -o-transform: rotate(172.8deg);
    transform: rotate(172.8deg);
}

.c100.p49 .bar {
    -webkit-transform: rotate(176.4deg);
    -moz-transform: rotate(176.4deg);
    -ms-transform: rotate(176.4deg);
    -o-transform: rotate(176.4deg);
    transform: rotate(176.4deg);
}

.c100.p50 .bar {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100.p51 .bar {
    -webkit-transform: rotate(183.6deg);
    -moz-transform: rotate(183.6deg);
    -ms-transform: rotate(183.6deg);
    -o-transform: rotate(183.6deg);
    transform: rotate(183.6deg);
}

.c100.p52 .bar {
    -webkit-transform: rotate(187.20000000000002deg);
    -moz-transform: rotate(187.20000000000002deg);
    -ms-transform: rotate(187.20000000000002deg);
    -o-transform: rotate(187.20000000000002deg);
    transform: rotate(187.20000000000002deg);
}

.c100.p53 .bar {
    -webkit-transform: rotate(190.8deg);
    -moz-transform: rotate(190.8deg);
    -ms-transform: rotate(190.8deg);
    -o-transform: rotate(190.8deg);
    transform: rotate(190.8deg);
}

.c100.p54 .bar {
    -webkit-transform: rotate(194.4deg);
    -moz-transform: rotate(194.4deg);
    -ms-transform: rotate(194.4deg);
    -o-transform: rotate(194.4deg);
    transform: rotate(194.4deg);
}

.c100.p55 .bar {
    -webkit-transform: rotate(198deg);
    -moz-transform: rotate(198deg);
    -ms-transform: rotate(198deg);
    -o-transform: rotate(198deg);
    transform: rotate(198deg);
}

.c100.p56 .bar {
    -webkit-transform: rotate(201.6deg);
    -moz-transform: rotate(201.6deg);
    -ms-transform: rotate(201.6deg);
    -o-transform: rotate(201.6deg);
    transform: rotate(201.6deg);
}

.c100.p57 .bar {
    -webkit-transform: rotate(205.20000000000002deg);
    -moz-transform: rotate(205.20000000000002deg);
    -ms-transform: rotate(205.20000000000002deg);
    -o-transform: rotate(205.20000000000002deg);
    transform: rotate(205.20000000000002deg);
}

.c100.p58 .bar {
    -webkit-transform: rotate(208.8deg);
    -moz-transform: rotate(208.8deg);
    -ms-transform: rotate(208.8deg);
    -o-transform: rotate(208.8deg);
    transform: rotate(208.8deg);
}

.c100.p59 .bar {
    -webkit-transform: rotate(212.4deg);
    -moz-transform: rotate(212.4deg);
    -ms-transform: rotate(212.4deg);
    -o-transform: rotate(212.4deg);
    transform: rotate(212.4deg);
}

.c100.p60 .bar {
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    -o-transform: rotate(216deg);
    transform: rotate(216deg);
}

.c100.p61 .bar {
    -webkit-transform: rotate(219.6deg);
    -moz-transform: rotate(219.6deg);
    -ms-transform: rotate(219.6deg);
    -o-transform: rotate(219.6deg);
    transform: rotate(219.6deg);
}

.c100.p62 .bar {
    -webkit-transform: rotate(223.20000000000002deg);
    -moz-transform: rotate(223.20000000000002deg);
    -ms-transform: rotate(223.20000000000002deg);
    -o-transform: rotate(223.20000000000002deg);
    transform: rotate(223.20000000000002deg);
}

.c100.p63 .bar {
    -webkit-transform: rotate(226.8deg);
    -moz-transform: rotate(226.8deg);
    -ms-transform: rotate(226.8deg);
    -o-transform: rotate(226.8deg);
    transform: rotate(226.8deg);
}

.c100.p64 .bar {
    -webkit-transform: rotate(230.4deg);
    -moz-transform: rotate(230.4deg);
    -ms-transform: rotate(230.4deg);
    -o-transform: rotate(230.4deg);
    transform: rotate(230.4deg);
}

.c100.p65 .bar {
    -webkit-transform: rotate(234deg);
    -moz-transform: rotate(234deg);
    -ms-transform: rotate(234deg);
    -o-transform: rotate(234deg);
    transform: rotate(234deg);
}

.c100.p66 .bar {
    -webkit-transform: rotate(237.6deg);
    -moz-transform: rotate(237.6deg);
    -ms-transform: rotate(237.6deg);
    -o-transform: rotate(237.6deg);
    transform: rotate(237.6deg);
}

.c100.p67 .bar {
    -webkit-transform: rotate(241.20000000000002deg);
    -moz-transform: rotate(241.20000000000002deg);
    -ms-transform: rotate(241.20000000000002deg);
    -o-transform: rotate(241.20000000000002deg);
    transform: rotate(241.20000000000002deg);
}

.c100.p68 .bar {
    -webkit-transform: rotate(244.8deg);
    -moz-transform: rotate(244.8deg);
    -ms-transform: rotate(244.8deg);
    -o-transform: rotate(244.8deg);
    transform: rotate(244.8deg);
}

.c100.p69 .bar {
    -webkit-transform: rotate(248.4deg);
    -moz-transform: rotate(248.4deg);
    -ms-transform: rotate(248.4deg);
    -o-transform: rotate(248.4deg);
    transform: rotate(248.4deg);
}

.c100.p70 .bar {
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
    transform: rotate(252deg);
}

.c100.p71 .bar {
    -webkit-transform: rotate(255.6deg);
    -moz-transform: rotate(255.6deg);
    -ms-transform: rotate(255.6deg);
    -o-transform: rotate(255.6deg);
    transform: rotate(255.6deg);
}

.c100.p72 .bar {
    -webkit-transform: rotate(259.2deg);
    -moz-transform: rotate(259.2deg);
    -ms-transform: rotate(259.2deg);
    -o-transform: rotate(259.2deg);
    transform: rotate(259.2deg);
}

.c100.p73 .bar {
    -webkit-transform: rotate(262.8deg);
    -moz-transform: rotate(262.8deg);
    -ms-transform: rotate(262.8deg);
    -o-transform: rotate(262.8deg);
    transform: rotate(262.8deg);
}

.c100.p74 .bar {
    -webkit-transform: rotate(266.40000000000003deg);
    -moz-transform: rotate(266.40000000000003deg);
    -ms-transform: rotate(266.40000000000003deg);
    -o-transform: rotate(266.40000000000003deg);
    transform: rotate(266.40000000000003deg);
}

.c100.p75 .bar {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.c100.p76 .bar {
    -webkit-transform: rotate(273.6deg);
    -moz-transform: rotate(273.6deg);
    -ms-transform: rotate(273.6deg);
    -o-transform: rotate(273.6deg);
    transform: rotate(273.6deg);
}

.c100.p77 .bar {
    -webkit-transform: rotate(277.2deg);
    -moz-transform: rotate(277.2deg);
    -ms-transform: rotate(277.2deg);
    -o-transform: rotate(277.2deg);
    transform: rotate(277.2deg);
}

.c100.p78 .bar {
    -webkit-transform: rotate(280.8deg);
    -moz-transform: rotate(280.8deg);
    -ms-transform: rotate(280.8deg);
    -o-transform: rotate(280.8deg);
    transform: rotate(280.8deg);
}

.c100.p79 .bar {
    -webkit-transform: rotate(284.40000000000003deg);
    -moz-transform: rotate(284.40000000000003deg);
    -ms-transform: rotate(284.40000000000003deg);
    -o-transform: rotate(284.40000000000003deg);
    transform: rotate(284.40000000000003deg);
}

.c100.p80 .bar {
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
    transform: rotate(288deg);
}

.c100.p81 .bar {
    -webkit-transform: rotate(291.6deg);
    -moz-transform: rotate(291.6deg);
    -ms-transform: rotate(291.6deg);
    -o-transform: rotate(291.6deg);
    transform: rotate(291.6deg);
}

.c100.p82 .bar {
    -webkit-transform: rotate(295.2deg);
    -moz-transform: rotate(295.2deg);
    -ms-transform: rotate(295.2deg);
    -o-transform: rotate(295.2deg);
    transform: rotate(295.2deg);
}

.c100.p83 .bar {
    -webkit-transform: rotate(298.8deg);
    -moz-transform: rotate(298.8deg);
    -ms-transform: rotate(298.8deg);
    -o-transform: rotate(298.8deg);
    transform: rotate(298.8deg);
}

.c100.p84 .bar {
    -webkit-transform: rotate(302.40000000000003deg);
    -moz-transform: rotate(302.40000000000003deg);
    -ms-transform: rotate(302.40000000000003deg);
    -o-transform: rotate(302.40000000000003deg);
    transform: rotate(302.40000000000003deg);
}

.c100.p85 .bar {
    -webkit-transform: rotate(306deg);
    -moz-transform: rotate(306deg);
    -ms-transform: rotate(306deg);
    -o-transform: rotate(306deg);
    transform: rotate(306deg);
}

.c100.p86 .bar {
    -webkit-transform: rotate(309.6deg);
    -moz-transform: rotate(309.6deg);
    -ms-transform: rotate(309.6deg);
    -o-transform: rotate(309.6deg);
    transform: rotate(309.6deg);
}

.c100.p87 .bar {
    -webkit-transform: rotate(313.2deg);
    -moz-transform: rotate(313.2deg);
    -ms-transform: rotate(313.2deg);
    -o-transform: rotate(313.2deg);
    transform: rotate(313.2deg);
}

.c100.p88 .bar {
    -webkit-transform: rotate(316.8deg);
    -moz-transform: rotate(316.8deg);
    -ms-transform: rotate(316.8deg);
    -o-transform: rotate(316.8deg);
    transform: rotate(316.8deg);
}

.c100.p89 .bar {
    -webkit-transform: rotate(320.40000000000003deg);
    -moz-transform: rotate(320.40000000000003deg);
    -ms-transform: rotate(320.40000000000003deg);
    -o-transform: rotate(320.40000000000003deg);
    transform: rotate(320.40000000000003deg);
}

.c100.p90 .bar {
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    -o-transform: rotate(324deg);
    transform: rotate(324deg);
}

.c100.p91 .bar {
    -webkit-transform: rotate(327.6deg);
    -moz-transform: rotate(327.6deg);
    -ms-transform: rotate(327.6deg);
    -o-transform: rotate(327.6deg);
    transform: rotate(327.6deg);
}

.c100.p92 .bar {
    -webkit-transform: rotate(331.2deg);
    -moz-transform: rotate(331.2deg);
    -ms-transform: rotate(331.2deg);
    -o-transform: rotate(331.2deg);
    transform: rotate(331.2deg);
}

.c100.p93 .bar {
    -webkit-transform: rotate(334.8deg);
    -moz-transform: rotate(334.8deg);
    -ms-transform: rotate(334.8deg);
    -o-transform: rotate(334.8deg);
    transform: rotate(334.8deg);
}

.c100.p94 .bar {
    -webkit-transform: rotate(338.40000000000003deg);
    -moz-transform: rotate(338.40000000000003deg);
    -ms-transform: rotate(338.40000000000003deg);
    -o-transform: rotate(338.40000000000003deg);
    transform: rotate(338.40000000000003deg);
}

.c100.p95 .bar {
    -webkit-transform: rotate(342deg);
    -moz-transform: rotate(342deg);
    -ms-transform: rotate(342deg);
    -o-transform: rotate(342deg);
    transform: rotate(342deg);
}

.c100.p96 .bar {
    -webkit-transform: rotate(345.6deg);
    -moz-transform: rotate(345.6deg);
    -ms-transform: rotate(345.6deg);
    -o-transform: rotate(345.6deg);
    transform: rotate(345.6deg);
}

.c100.p97 .bar {
    -webkit-transform: rotate(349.2deg);
    -moz-transform: rotate(349.2deg);
    -ms-transform: rotate(349.2deg);
    -o-transform: rotate(349.2deg);
    transform: rotate(349.2deg);
}

.c100.p98 .bar {
    -webkit-transform: rotate(352.8deg);
    -moz-transform: rotate(352.8deg);
    -ms-transform: rotate(352.8deg);
    -o-transform: rotate(352.8deg);
    transform: rotate(352.8deg);
}

.c100.p99 .bar {
    -webkit-transform: rotate(356.40000000000003deg);
    -moz-transform: rotate(356.40000000000003deg);
    -ms-transform: rotate(356.40000000000003deg);
    -o-transform: rotate(356.40000000000003deg);
    transform: rotate(356.40000000000003deg);
}

.c100.p100 .bar {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.c100.red .bar, .c100.red .fill {
    border-color: #dd1309 !important;
}

.c100.red > span {
    color: #dd1309 !important;
}