body, html, ul, div {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    background: url('images/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1000px;
    font-family: SANS-SERIF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Antonio,Helvetica,sans-serif;
    color: #FFF;
    font-weight: 500;
    line-height: 1;
}

ul {
    list-style: none;
    color: #000000;
    font-size: 20px;
    line-height: normal;
}

li {
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    border-bottom: 1px solid #d9daa8;
    list-style: none;
}

li.isMe {
    background: rgba(4, 0, 255, 0.3) !important;
}

li.moved {
    animation: 0.6s moved;
}

@keyframes moved {
    0% {
        border-top: 1px solid #d9daa8;
        border-bottom: 1px solid #d9daa8;
        background: #d3dacc;
        box-shadow: none;
    }
    30% {
        box-shadow: 0 0 7px 7px rgba(255, 76, 81, 1);
    }
    50% { }
    100% {
        border-top: rgba(255, 76, 81, 1);
        border-bottom: rgba(255, 76, 81, 1);
        background: rgba(255, 76, 81, 1);

        box-shadow: 0 0 7px 7px rgba(255, 76, 81, 1);
    }
}

p {
    padding-left: 10px;
}

button {
    cursor: pointer;
    border-radius: 7px;
    border: 2px solid #dddddd;
    background: #000000;
    color: #ffffff;
    font-size: 17px;
}

a {
    cursor: pointer;
    color: #ffffff;
}

button:hover {
    border: 2px solid #dd7d70;
    color: #dd7d70;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none !important;
}

.vg_level {
    background: #000;
    border-radius: 14px;
    padding: 1px;
    display: inline-block;
    width: 23px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

span.blue {
    color: #62cef4;
}

span.red {
    color: #f65b47;
}

#envStatus {
    position: absolute;
    z-index: 1;
    top: 150px;
    width: 40%;
    min-width: 240px;
    height: 490px;
    margin-left: 30%;
    background: url(images/cup.png) no-repeat no-repeat center 70px #000000;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    box-shadow: 0 0 50px 40px rgba(0,0,0,1);
}

#envStatus p.close{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    cursor: pointer;
}

#envBet {
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 90%;
    min-width: 650px;
    height: 500px;
    padding-right: 250px;
    box-sizing: border-box;
    margin-left: auto;
    min-width: 650px;
    margin-right: auto;
}

#envBetWrap {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 650px;
    height: 500px;
    margin: auto;
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 0 50px 40px rgba(0,0,0,1);
}

#envBetWrap .close {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 16px;
}

#envBet #betTitle {
    display: block;
    height: auto;
    width: 100%;
    padding-bottom: 15px;
}

#envBet #envBetContent {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
}

#envBetContent .betList {
    margin: 0;
    padding: 0;
    width: 250px;
    height: 400px;
    overflow-y: hidden;
}

#envBetContent .betList span{
    display: block;
    font-size: 15px;
    overflow: hidden;
}

#envBetContent .bet{
    cursor: pointer;
    margin: 0;
    margin-bottom: 20px !important;
    padding: 0;
    font-size: 14px;
    height: auto;
}

#envBetContent .bet img{
    display: inline-block;
    height: 25px;
    border-radius: 6px;
    vertical-align: middle;
}

#envBetContent #time {
    width: 150px;
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around; /* Safari */
    cursor: pointer;
    font-size: 14px;
}


#globalWrap {
    display: block;
    width: 98%;
    min-height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#globalWrap .content {
    padding-bottom: 90px;
}

#logo {
    display: block;
    top: 40px;
    left: 0;
    width: 150px;
    height: 150px;
    background-image: url('images/logo.png');
    background-size: 100%;
}

#logo span {
    color: #FFFFFF;
    position: relative;
    width: 300px;
    display: inline-block;
    padding-top: 50px;
    padding-left: 150px;
    font-size: 23px;
    font-weight: 600;
}

#banner {
    position: absolute;
    border: 1px solid black;
    top: 15px;
    right: 5px;
    width: 468px;
    height: 60px;
    background-color: rgba(206, 205, 211, 0.8);
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px 7px 0 0;
}

#footer div{
    display: inline-block;
    width: 16%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 35px;
    vertical-align: middle;
}

.online {
    width: 10px !important;
    height: 10px !important;
    background-color: #00FF00;
    display: inline-block;
    margin-left: 1px;
    margin-right: 3px !important;
    border-radius: 5px;
}

.online.offline {
    background-color: #FF0000;
}

.row {
    display: block;
    clear: both;
}

#mainBlock {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
}

#commandTable {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    vertical-align: middle;
    text-align: center;
    border-radius: 7px 0 0 7px;
    color: #ffffff;
}

#commandTable .wrap {
    margin-left: auto;
    margin-right: auto;
    padding-right: 250px;
}

#commandTable .tour {
    width: 31%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#commandTable .tour .match {
    margin: 23px;
    margin-left: 0;
    width: 100%;
    max-width: 200px;
    position: relative;
}

#commandTable .tour .match .inline {
    width: 100%;
    padding-left: 20px;
}

#commandTable .tour .match button.draft {
    position: absolute;
    display: inline-block;
    height: 50%;
    margin-top: 25%;
    font-size: 11px;
    padding: 2px;
}

#commandTable .tour .match .command {
    text-align: left;
    width: 100%;
    min-width: 140px;
    min-height: 30px;
    margin: 7px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 7px;
    font-size: 14px;
}

#commandTable .tour .match .command .commandName {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
}

#commandTable .tour .match .command .commandName .edit {
    color: rgba(255, 218, 214, 0.7);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#commandTable .tour .match .command .playerList {
    min-height: 30px;
    background-color: rgba(220, 220, 220, 0.4);
    border-radius: 0 0 7px 7px;
    padding-bottom: 3px;
}

#commandTable .tour .match .command .playerList li{
    color: #ffffff;
    border-top: 1px solid #d9daa8;
    border-bottom: none;
    font-size: 15px;
    background: none;
}

#commandTable .tour .match .command .playerList li .online {
    margin-left: 10px;
}

#commandTable .tour .match .command .commandName span {
    text-align: left;
    line-height: 30px;
    padding-left: 10px;
    display: inline-block;
}

#commandTable .tour .match .command button {
    display: inline-block;
    font-size: 11px;
}

#conList {
    border-radius: 0 7px 7px 0;
    position:relative;
    display: inline-block;
    width: 300px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

#conList ul {
    padding-left: 4px;
    overflow: scroll;
    overflow-x: hidden;
    height: 275px;
}

#setPlayer, #unsetPlayer {
    font-size: 15px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#statInfo {
    position: absolute;
    bottom: 0;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

fieldset {
    margin: 0;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 7px;
    border: none;
}

fieldset legend{
    background-color: rgba(255, 255, 255, 0.7);
}

#lastList {

}

#lastList li{
    display: inline-block;
    border: none;
}

#lastList li .remove {
    display: inline-block;
    padding-right: 3px;
}

#adminPanel {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly; /* Safari */
    margin: 20px auto;
}














#dbd {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 2;
    min-width: 1000px;
}

#dbd #closeDBD {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}

#dbd .wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-bottom: 40px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
}

.block-action {
    vertical-align: top;
    display:inline-block;

}

.block-action.teamA .playerRole {
    position: absolute;
    width: 40px;
    background-image: none;
    height: 40px;
    border: 1px solid #ffffff;
    border-right: none;
    border-top: none;
    border-radius: 0px 0px 0px 7px;
    margin: 0;
    right: 0;
    padding: 3px;
}

.block-action.teamB .playerRole {
    position: absolute;
    width: 40px;
    background-image: none;
    height: 40px;
    border: 1px solid #ffffff;
    border-left: none;
    border-top: none;
    border-radius: 0px 0px 7px 0px;
    margin: 0;
    left: 0;
    padding: 3px;
}

.block-action .playerName {
    position: relative;
    top: 113px;
    margin-top: 0;
    margin: 0;
    padding: 0;
    padding-left: 4px;
    overflow: hidden;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.block-action .playerName li{
    font-size: 15px;
    color: #ffffff;
    border: none;
}

.block-action .playerName li div.online{
    margin-top: 0;
}

.block-action.teamA div.ban, .block-action.teamA div.pick{
    border: 1px solid #63D1F4;
}

.block-action.teamA div.ban.current, .block-action.teamA div.pick.current {
    box-shadow: 0 0 40px 10px rgba(99, 209, 244, 0.7);
}

.block-action.teamA div.active{
    background-color: rgba(99,209,244, 0.5);
}

.block-action.teamB div.ban, .block-action.teamB div.pick{
    border: 1px solid #FBA16C;
}

.block-action.teamB div.ban.current, .block-action.teamB div.pick.current {
    box-shadow: 0 0 40px 10px rgba(251, 161, 108, 0.7);
}

.block-action.teamB div.active{
    background-color: rgba(251,161,108, 0.5);
}

.block-action div{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-image: url('images/glory.png');
    background-size: cover;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.block-action .ban{
    width: 90px;
    height: 90px;
}

.block-action .pick{
    width: 140px;
    height: 140px;
    cursor: pointer;
}

#heroesIcons {
    display:inline-block;
    width: 60%;
    padding: 0;
    margin:0;
    margin-top: 30px;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#heroesIcons div {
    display: inline-block;
    background-size: 100%;
    margin: auto;
    cursor: pointer;
    width: 130px;
    height: 130px;

    vertical-align:bottom;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#heroesIcons div:hover {
    opacity: 0.75;
}

#heroesIcons div.checked {
    animation: 0.6s wave;
    opacity: 0.3;
}

#heroesIcons div .likeSelected {
    margin-top: 5px;
    height: 90px;
    white-space: nowrap;
}

#heroesIcons div .likeSelected span {
    display: block;
    height: 30px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.6);
    font-size: 17px;
}

#heroesIcons div .likeSelected span img{
    height: 20px;
    border-radius: 6px;
}

#heroesIcons div .likeSelector {

    height: 35px;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around; /* Safari */
    cursor: pointer;
}
#heroesIcons div .likeSelector img{
    border-radius: 6px;
    height: 35px;
}


@keyframes wave {
    0% {
        box-shadow: none;
    }
    30% {
        box-shadow: 0 0 20px 20px rgba(255,255,255,1);
    }
    50% {

    }
    100% {
        opacity: 0.3;
        box-shadow: 0 0 20px 20px rgba(255,255,255,1);
    }
}

#roleSelect {
    display: none;

    width: 400px;
    height: 350px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 7px;

    z-index: 3;

    position: absolute;
    top: 40%;
    left: 50%;
    margin: -200px 0 0 -200px;
    padding: 15px;

    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

#roleSelect .role p, #roleSelect .build p {
    text-align: left;
    font-size: 20px;
}

#roleSelect .role .roleItems, #roleSelect .build .buildItems {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari */
}

#roleSelect .role .roleItems .roleItem div{
    margin-top: 4px;
    padding: 4px;
    border: 1px solid #ffffff;
    border-radius: 7px;
    cursor: pointer;
}

#roleSelect .build p {
    margin-top: 40px;
}

#roleSelect .build .buildItems .buildItem {
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 7px;
    font-weight: 800;
    cursor: pointer;
    font-size: 18px;
    line-height: 50px;
    width: 100px;
}



#dbd .weapons {
    color: #FF0000;
}

#roleSelect .buildItems div.weapons.current {
    box-shadow: 0 0 40px 10px rgba(255, 0, 0, 0.7);
}

#roleSelect .roleItems div.weapons.current, #dbd .block-action .playerRole.weapons {
    background-color: #FF0000;
}


#dbd .crystal {
    color: #30ccec;
}

#roleSelect .buildItems div.crystal.current {
    box-shadow: 0 0 40px 10px rgba(48, 204, 246, 0.7);
}

#roleSelect .roleItems div.crystal.current, #dbd .block-action .playerRole.crystal {
    background-color: #30ccec;
}



#dbd .support {
    color: #dfb442;
}

#roleSelect .buildItems div.support.current {
    box-shadow: 0 0 40px 10px rgba(223, 180, 66, 0.7);
}

#roleSelect .roleItems div.support.current, #dbd .block-action .playerRole.support {
    background-color: #dfb442;
}







#envChallenge {
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 90%;
    min-width: 650px;
    height: 500px;
    padding-right: 250px;
    box-sizing: border-box;
    margin-left: auto;
    min-width: 650px;
    margin-right: auto;
}

#envChallengeWrap {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 650px;
    height: 500px;
    margin: auto;
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 0 50px 40px rgba(0,0,0,1);
}

#envChallengeWrap .close {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 16px;
}

#envChallenge #challengeTitle {
    display: block;
    height: auto;
    width: 100%;
    padding-bottom: 15px;
}

#envChallenge #envChallengeContent {
    height: 500px;
}

#envChallengeContent .challengeList {
    margin: 15px;
    text-align: left;
}

#envChallengeContent .challengeList span{
    padding: 4px;
}

#envChallengeContent #challengeWinner{
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-left: 30%;
}





















#guide {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    -webkit-justify-content: center; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
}

#guide .hero {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
}

#guide .hero img.avatar{
    display: block;
    width: 140px;
    height: 140px;
}

#guideItemWrap {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: rgba(0,0,0, 0.4);
}

#guideItem {
    position: absolute;
    top: 13%;
    padding: 10px;
    width: 950px;
    min-height: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0, 0.9);
    border-radius: 7px;
    right: 0;
    left: 0;
}

#guideItem #closeItem {
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 1px;
    position: absolute;
    margin-top: 20px;
    margin-left: 5px;
    padding: 0;
    right: 30px;
}

#guideItemName {
    color: #ffffff;
    color: #ffffff;
    text-align: center;
}

#guideItemName span {
    display: inline-block;
    vertical-align: top;
    font-size: 60px;
    margin-top: 80px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: .4em;
}

#guideItemName img {
    height: 250px;
}

#guideItemInfo {
    color: #ffffff;
}

#guideItemInfo #stats-wrapper {
    margin: 10px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

#guideItemInfo #stats-wrapper h4 {
    margin-top: 4px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

#guideItemInfo #stats-wrapper h6 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 7px;
}

#guideItemInfo #stats-wrapper .stat-hp h6{
    color: #4eec8b;
}

#guideItemInfo #stats-wrapper .stat-ep h6{
    color: #5bbcff;
}

#guideItemInfo #stats-wrapper .stat-attack h6{
    color: #f48596;
}

#guideItemInfo #stats-wrapper .stat-armor h6{
    color: #f6ee71;
}

#guideItemInfo #stats-wrapper .stat-damage h6{
    color: #e19efb;
}

#guideItemInfo ul {
    list-style: inside;
}

#guideItemInfo li{
    overflow: hidden;
    white-space: normal;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    line-height: normal;
    cursor: default;
    border-bottom: none;
    list-style: inside;
}

#guideItemInfo .abilities-wrapper {
    margin: 10px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

#guideItemInfo .abilities-wrapper .ability {
    width: 25%;
    display: -webkit-flex; /* Safari */
    display: flex;
}

#guideItemInfo .abilities-wrapper .video-container {
    display: none;
}

#guideItemInfo .abilities-wrapper .ability .text {
    padding: 5px;
    margin: 5px;
    b1ackground-color: rgba(0,0,0, 0.9);
    background-color: rgba(206, 205, 211, 0.1);
    border-radius: 7px;
    font-size: 13px;
}

#guideItemInfo .abilities-wrapper .ability .header img {
    display: inline-block;
    border-radius: 7px;
    margin-top: 5px;
}

#guideItemInfo .abilities-wrapper .ability .header .expand {
    display: none;
}

#guideItemInfo .abilities-wrapper .ability .header .perk {
    display: inline-block;
    vertical-align: top;
    color: #eaa900;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 1px;
    position: absolute;
    margin-top: 70px;
    margin-left: 5px;
    padding: 0;
}

#guideItemInfo .abilities-wrapper .ability .header h5 {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 5px;
    width: 130px;
}


#guideItemInfo .abilities-wrapper .popup {
    display: none;
}








